{% extends "base.html" %}

{% block title %}
Resume
{% endblock title %}

{% block content %}

<p style= "padding-bottom:50px"></p>
<h1> <center>(-) My Resume (-) <center></h1> 
<p style= "padding-bottom:20px"></p>
<hr>
<p> <strong> Education: </strong> </p> 
<p> <strong> *Senior High School and Junior High School: </strong> Camarines Sur National High School </p>
<p> <strong>  Address: </strong> Penafrancia Avenue Naga City </p>
<p> <strong> *Elementary: </strong>  Tabuco Central School </p> 
<p> <strong>  Address: </strong> Biak na Bato Street brgy. Tabuco Naga City </p> 
<hr>
<p> <strong> Affiliation: </strong>  none </p>
<p> <strong> Skills/Training: </strong> Dodging skillshoots </p>

{% endblock content %}

